<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Detalhar Anime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Habilitar Edição</ion-label>
    <ion-toggle color="success" (ionChange)="alterarEdicao()"></ion-toggle>
  </ion-item>

  <ion-label id="cabecalho">Atualizando Cadastro</ion-label>

  <ion-item> <img src="{{entry.downloadURL}}" /> </ion-item>

  <ion-list>
    <form [FormGroup]="form_cadastrar" (ngSubmit)="submitForm()">
      <ion-item>
        <ion-input
          clearInput
          placeholder="Título"
          formControlName="titulo"
          disabled="{{edicao}}"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Ano de Lançamento</ion-label>
        <ion-datetime-button
          datetime="datetime"
          disabled="{{edicao}}"
        ></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime
              displayFormat="YYYY"
              formControlName="ano"
              id="datetime"
              presentation="year"
            >
            </ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-select
          placeholder="Gênero Principal"
          formControlName="genero"
          disabled="{{edicao}}"
        >
          <ion-select-option value="Shounen">Shounen</ion-select-option>
          <ion-select-option value="Shoujo">Shoujo</ion-select-option>
          <ion-select-option value="Seinen">Seinen</ion-select-option>
          <ion-select-option value="Josei">Josei</ion-select-option>
          <ion-select-option value="Ecchi">Ecchi</ion-select-option>
          <ion-select-option value="Harem">Harem</ion-select-option>
          <ion-select-option value="Isekai">Isekai</ion-select-option>
          <ion-select-option value="Mecha">Mecha</ion-select-option>
          <ion-select-option value="Slice of Life"
            >Slice of Life</ion-select-option
          >
          <ion-select-option value="Kodomomuke">Kodomomuke</ion-select-option>
          <ion-select-option value="Iyashikei">Iyashikei</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select
          placeholder="Material de Origem"
          formControlName="origem"
          disabled="{{edicao}}"
        >
          <ion-select-option value="Mangá">Mangá</ion-select-option>
          <ion-select-option value="Light Novel">Light Novel</ion-select-option>
          <ion-select-option value="Visual Novel"
            >Visual Novel</ion-select-option
          >
          <ion-select-option value="Jogo">Jogo</ion-select-option>
          <ion-select-option value="Original">Original</ion-select-option>
          <ion-select-option value="Outros">Outros</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input
          clearInput
          placeholder="Studio"
          formControlName="studio"
          disabled="{{edicao}}"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          clearInput
          placeholder="Quantia de Eps Assistidos"
          formControlName="watched"
          type="number"
          disabled="{{edicao}}"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          clearInput
          placeholder="Total de Episódios"
          formControlName="total"
          type="number"
          disabled="{{edicao}}"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Rating</ion-label>
        <ion-range
          [ticks]="true"
          [snaps]="true"
          [min]="0"
          [max]="10"
          [pin]="true"
          formControlName="rating"
          disabled="{{edicao}}"
        ></ion-range>
      </ion-item>
      <ion-button disabled="{{edicao}}" expand="block" type="submit"
        >Salvar</ion-button
      >
    </form>
  </ion-list>
  <ion-button
    disabled="{{edicao}}"
    expand="block"
    (click)="excluir()"
    color="danger"
  >
    Excluir
  </ion-button>
</ion-content>
